// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #89dceb;
$secondary: #fab387;
$accent: #9399b2;

$dark: #313244;
$dark-page: #1e1e2e;

$positive: #a6e3a1;
$negative: #f38ba8;
$info: #89b4fa;
$warning: #f9e2af;

$typography-font-family:
  'Atkinson Hyperlegible', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;

$default-transition-time: 500ms;
$generic-border-radius: 8px;
$button-border-radius: 8px;

$input-font-size: 1rem;
$body-font-size: 1rem;
$button-font-size: 1rem;
$table-th-font-size: 1rem;
$table-tbody-td-font-size: 1.1rem;
$table-title-font-size: 1.5rem;
$table-bottom-font-size: 1rem;
$table-nodata-icon-font-size: 2rem;
$table-sort-icon-font-size: 1.2rem;
$table-grid-item-title-font-size: 1rem;
$table-grid-item-value-font-size: 1.1rem;
$table-dense-sort-icon-font-size: 1.1rem;
